@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-home {
    padding: 20px;
    text-align: center;
}

.img-home {
    width: 300px;
}

.head-home {
    color: #183b56;
    font-family: "Bree Serif";
    font-size: 40px;
    width: 100%;
}

.dis-home {
    font-family: "Bree Serif";
    color: #616e7e;
    font-size: 20px;
}

.imgs-home {
    width: 170px;
}

.bg-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.f-card {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

.heading {
    color: #5752ab;
    font-family: "Bree Serif";
    font-size: 25px;
}

.para {
    font-family: "Roboto";
    font-weight: normal;
    color: #323f4b;
}

.b1 {
    border-color: #d7dfe9;
    background-color: #ffffff;
    margin-right: 5px;
}

.b2 {
    background-color: #5752ab;
    margin-left: 5px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.bg-image-food {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.bg-color-food {
    background-color: #f6c56e;
    padding: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 26px;
}

.head-food {
    font-family: "Bree Serif";
    font-size: 40px;
    color: #323f4b;
}

.para-food {
    font-family: "Roboto";
    font-size: 20px;
    color: #323f4b;
    font-weight: bold;
}

.btnn-food {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
}

.bg-image-news {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;
}

.card-news {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 40px;
}

.news {
    color: grey;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: normal;
}

.heading-news {
    font-family: 'Roboto';
    font-size: 17px;
    color: #323f4b;
}

.para-news {
    font-family: "Roboto";
    font-size: 12px;
    color: #7b8794;
}

.button-news {
    background-color: #323f4b;
    color: #ffffff;
    width: 30vw;
    border-radius: 10px;
}

/*------------------ Conference page CSS -----------*/
.top-image-static-conference-page {
    width: 100vw;
}

.h-details-static-conference-page {
    text-align: center;
    padding: 30px 63px;
}

.heading-static-conference-page {
    font-size: 36px;
    font-family: "Roboto";
    font-weight: bold;
    color: #183b56;
    padding-bottom: 10px;
}

.heading-2-static-conference-page {
    font-size: 26px;
    text-align: center;
    font-family: "Roboto";
    color: #183b56;
    font-weight: bold;
}

.para-static-conference-page {
    font-family: "Roboto";
    font-size: 17px;
    padding-bottom: 10px;
    color: #5a7184;
}

.container-static-conference-page {
    padding: 20px;
    text-align: center;
}

.count-details-static-conference-page {
    padding-right: 55px;
}

/* ------------------------moviess page CSS----------------------- */
.bg-container-static-movie-page {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png");
    height: cover;
    padding: 24px;
}

.top-image-static-movie-page {
    width: 100%;
    background-size: cover;
    padding-bottom: 20px;
}

.movie-name-static-movie-page {
    font-family: "Roboto";
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;

}

.margin-static-movie-page {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-static-movie-page {
    font-family: "Roboto";
    background-color: #ffffff;
    color: #ff8348;
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
    width: 96px;
}

.discription-static-movie-page {
    font-size: 21px;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 500;
}

.sub-heading-static-movie-page {
    font-size: 32px;
    font-family: "Caveat";
    color: #ffffff;
    font-weight: bold;
}

.similar-movie-images-static-movie-page {
    margin-left: 10px;
    margin-right: 10px;
}

/*-------------ctricket page CSS----------------------- */
.bg-top-section-static-cricket {
    background-color: #fb4e71;
    padding: 15px;
    display: flex;
    flex: ;
}

.name-static-cricket {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.details-static-cricket {
    font-family: "Roboto";
    font-size: 16px;
    color: #ffffff;
}

.bottom-section-static-cricket {
    background-color: #e6f6ff;
    padding: 17px;
    height: 100vh;
}

.ipl-record-static-cricket {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    color: #323f4b;
}

.records-card-static-cricket {
    background-color: #ffffff;
    border-radius: 15px;

}

.match-card-static-cricket {
    padding: 10px;
}

.match-static-cricket {
    font-size: 15px;
    font-family: "Roboto";
}

.score-static-cricket {
    color: #888888;
    font-size: 15px;
    font-family: "Roboto";
}

.videos-static-cricket {
    font-size: 18px;
    font-weight: bold;
    color: #323f4b;
    padding-top: 20px;
}

.images-static-cricket {
    padding: 7px;
}

.para-static-cricket {
    font-size: 11px;
    width: 90px;
}

.button-static-cricket {
    text-align: center;
    margin: 20px;
}

/* -----------------------------covid 19 CSS----------------- */
.bg-container-static-covid-19 {
    border-style: solid;
    border-width: 5px;
    border-color: #0967d219;
    padding: 18px;
}

.heading-static-covid-19 {
    font-family: "Roboto";
    font-size: 25px;
    color: #323f4b;
}

.image-static-covid-19 {
    margin: 15px;
    margin-bottom: 20px;
}

.button-static-covid-19 {
    background-color: #0967d2;
    border-width: 0px;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
}

.test-container-static-covid-19 {
    background-color: #0967d219;
    padding: 15px;
    margin-top: 16px;
    border-radius: 15px;
}

.discription-static-covid-19 {
    font-size: 20px;
    font-family: "Roboto";
    color: #707070;
    font-weight: 500;
}

.margin-top-b-static-covid-19 {
    margin-top: 17px;
    margin-bottom: 17px;
}

.symptoms-word-static-covid-19 {
    color: #ffffff;

}

.img-1-static-covid-19 {
    background-color: #3ebd93;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.img-2-static-covid-19 {
    background-color: #e668a7;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.img-3-static-covid-19 {
    background-color: #a368fc;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.bottom-section-static-covid-19 {
    background-color: #e12d3919;
    padding: 15px;
    margin-top: 16px;
    border-radius: 15px;
}

/* --------------Goa Css------------ */
.goa-card-container-static-goa {
    padding: 20px;
}

.goa-heading-static-goa {
    color: #323f4b;
    font-size: 20px;
}

.goa-para-static-goa {
    color: #9aa5b1;
    font-size: 16px;
}

.y-video-static-goa {
    border-radius: 10px;
    margin-right: 10px;
}
/* --------------Flats Page Css------------ */
.bg-container-section-flats {
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    height: 100vh;
    background-size: cover;
}

.homePage-section-flats {
    background-color: white;
    height: 40vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
    text-align: center;
}

.main-heading-section-flats {
    font-size: 30px;
    font-family: bree Serif;
    color: #f19116;
}

.tag-line-section-flats {
    font-family: bree Serif;
    font-size: 16px;
    color: #7b8794;
}

.button-section-flats {
    background-color: #f19116;
    color: white;
    border-style: none;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    font-size: 14px;
}

.flat-card-bg-section-flats {
    background-color: #222222;
    height: 100vh;
    padding: 20px;
}

.flat-card-section-flats {
    background-color: #ffffff;
    border-radius: 7px;

}

.flat-card-img-section-flats {
    width: 70px;
    background-size: cover;
}

.flat-type-section-flats {
    font-family: "Bree Serif";
    font-size: 22px;
    color: #0f0e46;
    font-weight: bold;
}

.flat-card-dis-section-flats {
    font-family: "Bree Serif";
    font-weight: 600;
    font-size: 14px;
    color: #7b8794;
}

.location-img-section-flats {
    width: 22px;
    height: 22px;
}

.discription-section-flats {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 16px;
}

.hr-line-section-flats {
    background-color: #ffffff;
    width: 100%;
}
